<header>
  <div class="header-highlight">
    <div class="blue-highlight"></div>
    <div class="orange-highlight"></div>
  </div>

  <div class="header-logo-nav">
    <div class="container">
      <a href="/">
        <div class="header-logo">
          <div class="header-left">
            <h1>WE-CAN COVID-19 MSRT</h1>
          </div>
          <div class="header-middle"">
            <img src="/assets/images/elbows.png">
          </div>
          <div class="header-right"">
            <h2>Medical Student Response Team</h2>
          </div>
        </div>
      </a>
    </div>

    <div class="nav-links">
      <div class="dropdown">

        <input class="hamburger menu-btn" type="checkbox" id="menu-btn" />
        <label class="hamburger menu-icon" for="menu-btn">
          <span class="navicon-top"></span>
          <span class="navicon-mid" ></span>
          <span class="navicon-bottom"></span>
        </label>

        <div class="menu">
          <a class="nav-item highlight-link" href="/">HOME</a>
          <a class="nav-item highlight-link" href="/projects">PROJECTS</a>
          <div class="nav-item" id="physicians-dropdown">
            <a class="nav-item highlight-link" href="/physicians">FOR PHYSICIANS</a>
            <div class="nav-dropdown">
              <ul class="physician-dropdown-items">
                <img class="subdropdown-icon" src="/assets/images/subdropdown-arrow.png">
                <li><a onclick="redirect('physicians', 'physician-support-and-requests')">SUPPORT & PROJECT REQUESTS</a></li>
                <li><a onclick="redirect('physicians', 'physician-well-being')">PHYSICIAN WELL-BEING</a></li>
              </ul>
            </div>
          </div>
          <a class="nav-item highlight-link" href="/students">FOR MED STUDENTS</a>
          <div class="nav-item" id="everyone-dropdown">
            <a class="nav-item highlight-link" href="/everyone">FOR EVERYONE</a>
            <div class="nav-dropdown">
              <ul class="everyone-dropdown-items">
                <img class="subdropdown-icon" src="/assets/images/subdropdown-arrow.png">
                <li><a onclick="redirect('everyone', 'ppe-initiative')">PPE INITIATIVE - DONATE!</a></li>
                <li><a onclick="redirect('everyone', 'info-and-resources')">INFO AND RESOURCES</a></li>
                <li><a onclick="redirect('everyone', 'volunteer-opportunities')">VOLUNTEER OPPORTUNITIES</a></li>
              </ul>
            </div>
          </div>
          <a class="nav-item highlight-link" href="/updates">NEWS & UPDATES</a>
          <a class="nav-item highlight-link" href="/about">ABOUT</a>
        </div>

      </div>
    </div>
  </div>
</header>

<script>
  function redirect(base, anchor) {
    if (window.location.pathname+window.location.search == `/${base}/`) {
      window.location.hash = anchor
    } else {
      window.location.href = `/${base}/#${anchor}`
    }
  }
</script>